# PART 02. 데이터 전처리

## 1장. 제어문

### 1절. 조건문 ( if/else , ifelse() )

#### [Problem]  if, else
- 정수를 입력받아 해당 숫자가 짝수인지 홀수인지 판단하고, 만약 입력받은 숫자가 정수가 아닐 경우 “정수를 입력해주세요.”라는 문구를 출력하는 if문을 작성

In [ ]:
x <- 9 

if(x%%2==0){                          # x/2의 나머지가 0이면 참
  print(paste(x, "는 짝수입니다."))   # x%%2==0 조건이 참일 때 수행할 코드
}  else if (x%%2==1) {                 
  print(paste(x, "는 홀수입니다."))   # 첫째 조건이 거짓, x%%2==1 조건이 참일 때 수행할 코드    
}  else { 
  print ("정수를 입력해주세요.")      # 위의 조건 중 어느 것도 만족하지 않을 때 수행할 코드
}

#### [Problem]  ifelse
- 정수를 입력받아 짝수이면 “짝수입니다.”, 홀수이면 “홀수입니다.”를 출력하고, 정수가 아닐 경우 “정수가 아닙니다.”를 출력하는 ifelse문을 작성

In [ ]:
x <- 3.9
ifelse(x%%2==0, "짝수입니다.",
       ifelse(x%%2==1, "홀수입니다.", "정수가 아닙니다."))

### 2절. 반복문 ( for, while, repeat )

#### [Problem]  for
- 반복문을 사용하지 않은 경우 : print 함수를 4번 실행
- 반복문을 사용한 경우 : for문을 1번 실행

In [ ]:
print(paste("The year is", 2015))	# paste() : ()안에 나열된 문자열을 합쳐주는 함수
print(paste("The year is", 2016))
print(paste("The year is", 2017))
print(paste("The year is", 2018))

In [ ]:
# year변수에 2015에서 2018까지의 값이 모두 대입될 때 까지 { }안의 구문이 반복
for (year in c(2015:2018)){
  print(paste("The year is", year))
}

#### [Problem]  while

- for문을 사용하여 해결했던 예제에 대해 while문을 이용해서 똑같은 결과값을 출력하는 코드 작성

In [ ]:
# year변수의 값이 2018이하이면 { }안의 구문이 실행

year <- 2015          
while(year<=2018){
  print(paste("The year is", year))
  year <- year+1}

#### [Problem]  repeat
- break, next 사용

In [ ]:
## break 사용 예시
# 1~10 까지의 숫자 중 짝수만 출력하기

i<-0
repeat{i<-i+2
print(i)
if(i>=10){
    break   # i가 10이상이면 반복문 종료
}
}

In [ ]:
## next 사용 예시
# 1~10 까지의 숫자 중 홀수만 출력하기
# 반복문 내의 next를 만나면 print(i)를 실행하지 않고 for문의 맨 처음으로 이동

for(i in 1:10){ 
  if(i%%2==0){ next }
  print(i)
}

## 2장. 데이터 변환

### 1절. 파생변수 생성

#### [Problem]  $ : data.frame에서의 변수추가
- R의 내장 데이터 iris에 행번호를 담고 있는 ‘ID’ 라는 변수를 새로 생성

In [ ]:
# iris 데이터의 구조 확인 : 150개의 행과 5개의 변수를 가지고 있다.
str(iris)

# 150개 개체들의 고유번호에 해당하는 'ID' 변수를 새로 생성
iris$ID<-1:150

# iris 데이터의 상위 6개의 행을 출력한 결과, ID 변수가 추가된 것을 확인할 수 있다.
head(iris)

#### [Problem]  [ ] : 대괄호를 활용한 변수추가
- $를 이용하여 생성했던 ID 변수의 값이 짝수이면 A, 홀수이면 B로 분류하는 새로운 변수(변수명 : Group)를 [ ]를 활용하여 생성

In [ ]:
# ifelse 함수를 이용하여 ID가 짝수이면 A, 홀수이면 B를 부여
iris["Group"]<-ifelse(iris$ID%%2==0,"A","B")

# iris 데이터의 상위 6개의 행을 출력 : Group 변수가 추가된 것을 확인할 수 있다.
head(iris)

#### [Problem]  transform
- iris 데이터에서 Sepal.Length 변수와 Petal.Length 변수의 값을 더하여 ‘Sum.Length’ 라는 새로운 변수를 생성

In [ ]:
transform(iris, Sum.Length=Sepal.Length + Petal.Length)

#### [Problem]  within
- 학생의 id(s1, s2, s3, s4, s5, s6)를 담은 student_id 변수와 시험점수(55, 90, 85, 71, 63, 99)를 담은 score 변수로 구성된 데이터프레임을 생성
- 그 후 시험점수가 90점 이상이면 수, 80점 이상 90점 미만이면 우, 70점 이상 80점 미만이면 미, 60점 이상 70점 미만이면 양, 60점 이하이면 가로 분류하는 ‘grade’ 라는 변수를 새롭게 생성

In [ ]:
# 학생id(student_id 변수)와 시험점수(score 변수)로 이루어진 데이터 프레임 생성
student_id <- c("s1", "s2", "s3", "s4", "s5", "s6")  # 학생id가 담긴 벡터
score <- c(55, 90, 85, 71, 63, 99)                   # 시험점수가 담긴 벡터
score_df <- data.frame(student_id, score)            # 데이터 프레임 생성
score_df

In [ ]:
# 학생의 점수(score변수)를 수, 우, 미, 양, 가로 분류하여 'grade' 라는 새로운 변수 생성
score_df <- within(score_df, {
  grade = character(0)         # 새로운 변수의 데이터 타입 지정 (생략 가능)
  grade[ score < 60 ] = "가"   # score가 60미만인 경우 grade에 “가” 입력
  grade[ score >=60 & score < 70 ] = "양" 
  grade[ score >=70 & score < 80 ] = "미"
  grade[ score >=80 & score < 90 ] = "우" 
  grade[ score >=90 ] = "수" 
  grade = factor(grade, level = c("수", "우", "미", "양", "가")) 
  # grade변수를 "수", "우", "미", "양", "가"의 범주로 이루어진 팩터로 변환
})

# score_df 출력 : grade 변수가 추가된 것을 확인할 수 있다.
score_df

### 2절. 변수 축소

### 3절. 표준화와 정규화

## 3장. 데이터 결합 및 요약

### 1절. 데이터 결합

### 2절. 데이터 요약

### 3절. apply 계열 함수

## 4장. 패키지를 활용한 데이터 전처리

### 1절. plyr

### 2절. dplyr

### 3절. reshape2

### 4절. data.tabler

## 5장. 결측치

### 1절. 결측치 인식

### 2절. 결측치 처리

### 3절. 이상치 인식

## 6장. 날짜 데이터 전처리

### 1절. 날짜 데이터 다루기