# PART 02. 데이터 전처리

## 1장. 제어문

### 1절. 조건문 ( if/else , ifelse() )

#### [Problem]  if, else
- 정수를 입력받아 해당 숫자가 짝수인지 홀수인지 판단하고, 만약 입력받은 숫자가 정수가 아닐 경우 “정수를 입력해주세요.”라는 문구를 출력하는 if문을 작성하라

In [ ]:
x <- 9 

if(x%%2==0){                          # x/2의 나머지가 0이면 참
  print(paste(x, "는 짝수입니다."))   # x%%2==0 조건이 참일 때 수행할 코드
}  else if (x%%2==1) {                 
  print(paste(x, "는 홀수입니다."))   # 첫째 조건이 거짓, x%%2==1 조건이 참일 때 수행할 코드    
}  else { 
  print ("정수를 입력해주세요.")      # 위의 조건 중 어느 것도 만족하지 않을 때 수행할 코드
}

#### [Problem]  ifelse
- 정수를 입력받아 짝수이면 “짝수입니다.”, 홀수이면 “홀수입니다.”를 출력하고, 정수가 아닐 경우 “정수가 아닙니다.”를 출력하는 ifelse문을 작성하라

In [ ]:
x <- 3.9
ifelse(x%%2==0, "짝수입니다.",
       ifelse(x%%2==1, "홀수입니다.", "정수가 아닙니다."))

### 2절. 반복문 ( for, while, repeat )

#### [Problem]  for
- 반복문을 사용하지 않은 경우 : print 함수를 4번 실행
- 반복문을 사용한 경우 : for문을 1번 실행

In [ ]:
print(paste("The year is", 2015))	# paste() : ()안에 나열된 문자열을 합쳐주는 함수
print(paste("The year is", 2016))
print(paste("The year is", 2017))
print(paste("The year is", 2018))

In [ ]:
# year변수에 2015에서 2018까지의 값이 모두 대입될 때 까지 { }안의 구문이 반복
for (year in c(2015:2018)){
  print(paste("The year is", year))
}

#### [Problem]  while

- for문을 사용하여 해결했던 예제에 대해 while문을 이용해서 똑같은 결과값을 출력하는 코드를 작성하라

In [ ]:
# year변수의 값이 2018이하이면 { }안의 구문이 실행

year <- 2015          
while(year<=2018){
  print(paste("The year is", year))
  year <- year+1}

#### [Problem]  repeat
- break, next 사용

In [ ]:
## break 사용 예시
# 1~10 까지의 숫자 중 짝수만 출력하기

i<-0
repeat{i<-i+2
print(i)
if(i>=10){
    break   # i가 10이상이면 반복문 종료
}
}

In [ ]:
## next 사용 예시
# 1~10 까지의 숫자 중 홀수만 출력하기
# 반복문 내의 next를 만나면 print(i)를 실행하지 않고 for문의 맨 처음으로 이동

for(i in 1:10){ 
  if(i%%2==0){ next }
  print(i)
}

## 2장. 데이터 변환

### 1절. 파생변수 생성

#### [Problem]  $ : data.frame에서의 변수추가
- R의 내장 데이터 iris에 행번호를 담고 있는 ‘ID’ 라는 변수를 새로 생성하라

In [ ]:
# iris 데이터의 구조 확인 : 150개의 행과 5개의 변수를 가지고 있다.
str(iris)

# 150개 개체들의 고유번호에 해당하는 'ID' 변수를 새로 생성
iris$ID<-1:150

# iris 데이터의 상위 6개의 행을 출력한 결과, ID 변수가 추가된 것을 확인할 수 있다.
head(iris)

#### [Problem]  [ ] : 대괄호를 활용한 변수추가
- $를 이용하여 생성했던 ID 변수의 값이 짝수이면 A, 홀수이면 B로 분류하는 새로운 변수(변수명 : Group)를 [ ]를 활용하여 생성하라.

In [ ]:
# ifelse 함수를 이용하여 ID가 짝수이면 A, 홀수이면 B를 부여
iris["Group"]<-ifelse(iris$ID%%2==0,"A","B")

# iris 데이터의 상위 6개의 행을 출력 : Group 변수가 추가된 것을 확인할 수 있다.
head(iris)

#### [Problem]  transform
- iris 데이터에서 Sepal.Length 변수와 Petal.Length 변수의 값을 더하여 ‘Sum.Length’ 라는 새로운 변수를 생성하라.

In [ ]:
transform(iris, Sum.Length=Sepal.Length + Petal.Length)

#### [Problem]  within
- 학생의 id(s1, s2, s3, s4, s5, s6)를 담은 student_id 변수와 시험점수(55, 90, 85, 71, 63, 99)를 담은 score 변수로 구성된 데이터프레임을 생성
- 그 후 시험점수가 90점 이상이면 수, 80점 이상 90점 미만이면 우, 70점 이상 80점 미만이면 미, 60점 이상 70점 미만이면 양, 60점 이하이면 가로 분류하는 ‘grade’ 라는 변수를 새롭게 생성

In [ ]:
# 학생id(student_id 변수)와 시험점수(score 변수)로 이루어진 데이터 프레임 생성
student_id <- c("s1", "s2", "s3", "s4", "s5", "s6")  # 학생id가 담긴 벡터
score <- c(55, 90, 85, 71, 63, 99)                   # 시험점수가 담긴 벡터
score_df <- data.frame(student_id, score)            # 데이터 프레임 생성
score_df

In [ ]:
# 학생의 점수(score변수)를 수, 우, 미, 양, 가로 분류하여 'grade' 라는 새로운 변수 생성
score_df <- within(score_df, {
  grade = character(0)         # 새로운 변수의 데이터 타입 지정 (생략 가능)
  grade[ score < 60 ] = "가"   # score가 60미만인 경우 grade에 “가” 입력
  grade[ score >=60 & score < 70 ] = "양" 
  grade[ score >=70 & score < 80 ] = "미"
  grade[ score >=80 & score < 90 ] = "우" 
  grade[ score >=90 ] = "수" 
  grade = factor(grade, level = c("수", "우", "미", "양", "가")) 
  # grade변수를 "수", "우", "미", "양", "가"의 범주로 이루어진 팩터로 변환
})

# score_df 출력 : grade 변수가 추가된 것을 확인할 수 있다.
score_df

### 2절. 변수 축소

#### [Problem]  주성분분석
- R에 내장된 USArrests 데이터는 1973년 미국 50개주 100,000명의 인구 당 체포된 세 가지 강력범죄수(assault, murder, rape)와 각 주마다 도시에 거주하는 인구의 비율(%)로 구성되어있다.
- 주성분 분석을 수행하여 해당 데이터의 변수들을 가장 잘 요약하는 주성분을 구하고 해석하라.

In [ ]:
library(datasets)
data(USArrests)
head(USArrests)

In [ ]:
#산점도를 통해 변수간 상관관계 파악
# pairs() : 둘 이상의 변수에 대해 모든 가능한 산점도를 그려줌
pairs(USArrests, panel = panel.smooth, main = "USArrests data")

In [ ]:
# ② 주성분분석 수행
US.prin<-princomp(USArrests, cor=TRUE)
summary(US.prin)

In [ ]:
# screeplot 그리기
# 주성분분석의 결과를 plot함수 인자값으로 지정하면 scree plot이 생성된다.
plot(US.prin,type='l')

In [ ]:
# ③ Loading
US.prin$loadings

In [ ]:
# ④ Scores
US.prin$scores

In [ ]:
# ⑤ 제 1-2 주성분에 의한 행렬도
biplot(US.prin, scale=0)

#### [Problem]  요인분석
- R의 내장 데이터 swiss는 1888년 경 스위스 내 47개 주의 사회 경제적 지표(교육, 농업 종사자 비율 등)와 출산율에 대한 데이터이다.
- 원활한 분석을 위해 먼저 해당 데이터의 5가지 변수들을 min-max 정규화한 뒤, 요인분석을 실시하여 변수들을 3개의 요인으로 축소하라.(factanal 함수 사용)

In [ ]:
# swiss 데이터 확인 
data(swiss)
str(swiss)

In [ ]:
# 정규화 수행 및 실습용 데이터 생성
# apply(데이터, 계산방향, 적용함수) : 주어진 데이터의 행 혹은 열 방향으로 함수를 적용
Min <- apply(swiss,2,min) 
Max <- apply(swiss,2,max)
swiss_fa<-scale(swiss, center=Min, scale=(Max-Min))

head(swiss_fa)

In [ ]:
# 요인분석 수행
# factanal함수 rotation 인자의 기본값은 "varimax"임
factanal(swiss_fa, factors=3)

### 3절. 표준화와 정규화

#### [Problem]  표준화
- R의 내장 데이터 ‘mtcars’의 mpg(마일)변수와 hp(총마력)변수로만 이루어진 데이터프레임(test.cars)을 생성하고, 각 변수를 표준화한 새로운 변수를 추가하라. (mpg를 표준화한 변수의 이름은 mpg_scale, hp를 표준화한 변수의 이름은 hp_scale로 지정)

In [ ]:
# 데이터 확인 
data("mtcars")
str(mtcars)

In [ ]:
# 데이터프레임 생성
test.cars<-mtcars[,c("mpg","hp")]

# test.cars데이터의 상위 6개의 행 확인
head(test.cars)

In [ ]:
# 표준화한 변수 추가
test.cars<-transform(test.cars,
                     mpg_scale=scale(test.cars$mpg),
                     hp_scale=scale(test.cars$hp))
head(test.cars)

#### [Problem]  정규화
- R의 내장 데이터 iris의 Sepal.Length 변소를 정규화하는 코드 작성
- scale 함수를 이용하는 경우와 사용자 정의 함수를 이용하는 경우에 대해 각각 실행

In [ ]:
## 가. scale함수 이용
## scale 함수를 이용하여 R의 내장 데이터 iris의 Sepal.Length 변수를 정규화하는 코드를 살펴보자.

# iris데이터 Sepal.Length  변수의 최솟값 저장
Min<-min(iris$Sepal.Length)

# iris데이터 Sepal.Length 변수의 최댓값 저장
Max<-max(iris$Sepal.Length)

# scale함수를 활용한 min-max 표준화
iris$SL_new<-scale(iris$Sepal.Length, center=Min, scale=Max-Min)

head(iris)

In [ ]:
## 나. 사용자 정의 함수 이용

# 정규화한 값을 반환하는 함수 정의
# x : 정규화하고자 하는 숫자형 벡터
normalize <-function(x) {
  return ((x-min(x)) / (max(x) -min(x)))
}

# 숫자형 벡터 생성
num<-c(50:500)

# 생성한 사용자 정의 함수를 이용하여 정규화 수행
num_new<-normalize(num) 
head(num_new)

## 3장. 데이터 결합 및 요약

### 1절. 데이터 결합

#### [Problem]  rbind
- id와 last_name이라는 변수로 이루어진 두 개의 데이터프레임을 생성한 후, 두 데이터프레임을 행 기준으로 결합하여 고객의 아이디와 성을 저장하고 있는 하나의 데이터프레임으로 생성하라.

In [ ]:
# 행으로 묶을 데이터 생성 : rbind를 사용할 때에는 열의 이름과 개수가 동일해야 함
customer1 <- data.frame(id = c("c01","c02","c03","c04"),
                        last_name = c("Lee", "Kim", "Choi", "Park"))

customer2 <- data.frame(id = c("c05", "c06", "c07"), 
                        last_name = c("Lim" , "Bae", "Kim"))

# rbind를 사용하여 두 데이터프레임을 결합
id_name <- rbind(customer1, customer2)    
id_name

#### [Problem]  cbind
- 고객의 나이(age)와 수입(income)을 담고 있는 데이터(age_income)를 새로 생성하고, rbind 함수 예제에서 생성했던 id_name 데이터와 열을 기준으로 결합하여 customer 데이터를 생성하라.

In [ ]:
# 열로 묶을 데이터 생성 : cbind를 사용할 때에는 행의 개수가 동일해야 함
# age변수와 income변수로 구성된 데이터프레임 생성
age_income <- data.frame(age = c(20, 25, 37, 40, 32, 45, 37), 
                         income = c(2500, 6400, 0, 7000, 3400, 3800, 5010))

# cbind를 사용하여 두 데이터프레임을 결합
customer <- cbind(id_name, age_income)     
customer

#### [Problem]  merge
- 고객의 아이디(id), 이름(name)으로 이루어진 데이터프레임(id_name)과 고객의 아이디(id), 번호(number)로 이루어진 데이터프레임(id_number)을 생성한 뒤, 다양한 방법을 사용하여 두 데이터를 병합하라.

In [ ]:
# 병합에 사용할 데이터프레임 생성
id_name <- data.frame(id = c("c01","c02","c03","c04","c05", "c06", "c07"), 
                      last_name = c("Lee", "Kim", "Choi", "Park", "Lim" , "Bae", "Kim"))

id_number <- data.frame(id = c("c03", "c04", "c05", "c06", "c07", "c08", "c09"), 
                        number = c(3, 1, 0, 7, 3, 4, 1))

# id_name, id_number 데이터프레임 확인
id_name
id_number

In [ ]:
# Q1) id 칼럼을 기준으로 두 테이블이 모두 공통된 값을 가지고 있는 경우에만 두 데이터(id_name, id_number)를 병합.
# (데이터베이스의 Inner Join에 해당)

merge(id_name, id_number, by = 'id')

In [ ]:
# Q2) 공통된 값이 없는 경우에도 데이터가 출력되도록 id 칼럼을 기준으로 두 데이터(id_name, id_number)의 모든 행을 병합.
# (데이터베이스의 Outer Join에 해당)
# 기준칼럼에 공통된 값이 없는 경우, 다른 변수 값 자리에는 NA가 채워짐

merge(id_name, id_number, by = 'id', all = T)

In [ ]:
# Q3) id 칼럼을 기준으로 두 데이터(id_name, id_number)를 병합하되 기준칼럼에 공통 값이 없는 경우에는 id_name 데이터를 기준으로 병합.
# (데이터베이스의 Left Outer Join에 해당)

merge(id_name, id_number,  by = 'id', all.x = T)

In [ ]:
# Q4) id 칼럼을 기준으로 두 데이터(id_name, id_number)를 병합하되 기준칼럼에 공통 값이 없는 경우에는 id_number 데이터를 기준으로 병합. 
# (데이터베이스의 Right Outer Join에 해당)
merge(id_name, id_number, by = 'id', all.y = T)

### 2절. 데이터 요약

### 3절. apply 계열 함수

## 4장. 패키지를 활용한 데이터 전처리

### 1절. plyr

### 2절. dplyr

### 3절. reshape2

### 4절. data.tabler

## 5장. 결측치

### 1절. 결측치 인식

### 2절. 결측치 처리

### 3절. 이상치 인식

## 6장. 날짜 데이터 전처리

### 1절. 날짜 데이터 다루기