# 1장. 제어문

## 1절 | 조건문(if/else, ifelse())

### 1. if/else
Q) 정수를 입력받아 해당 숫자가 짝수인지 홀수인지 판단하고, 만약 입력받은 숫자가 정수가 아닐 경우 “정수를 입력해주세요.”라는 문구를 출력하는 if문을 작성.

In [12]:
def is_int(str):
    try:
        n = int(str)
        return True
    except ValueError:
        return False


n = input('짝/홀수를 판별합니다. 정수를 입력하세요. >')


try:
    if int(n)%2 == 0:
        print(n,': 짝수입니다.')
    else:
        print(n,': 홀수입니다.')
        
except:
      print('입력한 데이터는 정수가 아닙니다.')

짝/홀수를 판별합니다. 정수를 입력하세요. > -6

-6 : 짝수입니다.

### 2. ifelse
Q) 정수를 입력받아 짝수이면 “짝수입니다.”, 홀수이면 “홀수입니다.”를 출력하고, 
정수가 아닐 경우 “정수가 아닙니다.”를 출력하는 ifelse문을 작성.

## 2절 | 반복문(for, while, repeat)

### 1. for

Q) 반복문을 사용하지 않은 경우 : print 함수를 4번 실행

In [2]:
print('"The year is 2015"')
print('"The year is 2016"')
print('"The year is 2017"')
print('"The year is 2018"')

"The year is 2015"
"The year is 2016"
"The year is 2017"
"The year is 2018"

Q) 반복문을 사용한 경우 : for문을 1번 실행

In [13]:
year = list(range(2015,2019))    # 2015년~2018년 까지의 연도 리스트 생성

In [14]:
# 방법 1

for x in year:
    print('"The year is', x, '"')

"The year is 2015 "
"The year is 2016 "
"The year is 2017 "
"The year is 2018 "

In [28]:
# 방법 2
# {}.format() : format 함수 괄호 안의 [숫자를 문자열로 변환!!]하여 순차적으로 {}에 넣는다. 

i = 0   # i 값 초기화
        # clear kernel 상태에서 i=0 을 빼고 실행하면 Error 발생
        # i=0 을 넣고 실행한 후, i=0 을 삭제하고 코드 실행을 반복해보면 i 가 이전 출력에 이어서 계속 증가
        
for x in year:
    print('"The year is {}"'.format(x))
    i += 1      # += 숫자 덧셈 후 대입 (또는 문자열 연결 후 대입)

"The year is 2015"
"The year is 2016"
"The year is 2017"
"The year is 2018"

### 2. while

Q) for문을 사용하여 해결했던 예제에 대해 while문을 이용해서 똑같은 결과값을 출력

In [6]:
i = 2015

while i < 2019:
    print('"The year is {}"'.format(i))
    i += 1

"The year is 2015"
"The year is 2016"
"The year is 2017"
"The year is 2018"

### 3. repeat

#### break : 지정한 조건을 만족하면 반복문 종료

In [36]:
for i in range(1,100):
    print(i)
    i += 1
    if i == 10:
        break

1
2
3
4
5
6
7
8
9

#### continue : 현재 수행중인 반복문을 계속 실행. (continue 이후의 명령은 수행하지 않는다.)