In [1]:
import numpy as np
import pandas as pd
import seaborn as sb

# seaborn 패키지의 iris 데이터로 데이터 프레임 생성
df_iris = sb.load_dataset('iris')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df_iris.loc[ [1,3] , ['species', 'sepal_length'] ]

In [7]:
df_iris.iloc[150] =  df_iris.loc[1]

IndexError: iloc cannot enlarge its target object

In [10]:

df_iris

,sepal_length,sepal_width,petal_length,petal_width,species,1610,151,151
0,5.1,3.5,1.4,0.2,setosa,NaN,NaN,NaN
1,4.9,3.0,1.4,0.2,setosa,NaN,NaN,NaN
2,4.7,3.2,1.3,0.2,setosa,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2,setosa,NaN,NaN,NaN
4,5.0,3.6,1.4,0.2,setosa,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,NaN,NaN,NaN
146,6.3,2.5,5.0,1.9,virginica,NaN,NaN,NaN
147,6.5,3.0,5.2,2.0,virginica,NaN,NaN,NaN
148,6.2,3.4,5.4,2.3,virginica,NaN,NaN,NaN
149,5.9,3.0,5.1,1.8,virginica,NaN,NaN,NaN

In [ ]:
df_iris.loc[1]