## 1. import dataframe

### 1. import libraries

In [3]:
import pandas as pd
import numpy as np
from random import sample

## 2. import time series data

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/a10.csv', parse_dates=['date'])
sample_df = df

In [5]:
# index random sampling (index가 숫자가 아니더라도 활용 가능)
k = sample(range(len(sample_df)),3)
sample_df.iloc[k]

          date      value
19  1993-02-01   3.450857
54  1996-01-01   8.329452
164 2005-03-01  13.402392