In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb

# seaborn 패키지의 iris 데이터로 데이터 프레임 생성
df_iris = sb.load_dataset('iris')
df_iris

In [ ]:
df_iris.transpose(inplace = True)

In [ ]:
df_iris

In [ ]:

df_iris

In [21]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [24]:
df.sort_values(by='c1', ascending=False, inplace = True)

In [25]:
df

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [2]:
# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정 
ndf = df.set_index(['이름'])
print(ndf)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [3]:
df.set_index(['이름'],
                  inplace = True)

In [4]:
df

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90